body{
	width: 750px;
}
h1{
	text-align: center;
	color: #111; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 25px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center; 
	margin-left: 70%;
    margin-right: 10%;
}
h2{
	color:orange;
	font-family: 'Helvetica Neue', sans-serif; 
	font-weight:bold;
	text-align: center;
	margin-left: 70%;
    margin-right: 10%
}
form{
	padding:10px;
	
	font-family: 'Helvetica Neue', sans-serif;
	margin-left: 30%;
    margin-right: 10%;
    font-size: 15px;
    width :100%;
}

td{border-left: 25px solid orange;}


#color{
	background-color:orange;
    border: 2px solid black;
    margin-left: 45px;
    margin-right: 30px;
    width : 99%;
}

p{
	width:400px;
	padding-left: 305px;
	text-align: left;
	vertical-align: top;
	font-family: 'Helvetica Neue', sans-serif;
	margin-left: auto;
    margin-right: auto;
}
label.left{
	font-size: 100px;
	float: left;
	margin-left: -305px;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: ; 
	
}
.right{
	 float: center;	
	 margin-left: 240px;
	 width: 50%;
     float: center;
     text-align: center; 
}

input[type=checkbox] {
  width: 10px; font-family: 'Helvetica Neue', sans-serif; 
}
